body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(255, 255, 255);
}


.calculator {
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: rgb(0, 103, 141);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.7);

}

#screen {
    margin-bottom: 10px;
    display: flex;
}

#screenInput {
    height: 60px;
    border-radius: 5px;
    border: 5px solid rgb(52, 127, 76);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    background-color: rgb(79, 195, 116);
    width: 200px;
    flex: 1;
    box-sizing: border-box;
    font-size: 25px;
    text-align: end;

}

#buttons {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    align-items: center;
    justify-content: center;
}

.button {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background-color: rgb(51, 228, 255);
    cursor: pointer;
}

.button:hover {
    background-color: rgb(51, 190, 255);
}